<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>leave a comment</h4>
        <p>u can leave a comment using this</p>
        <form>
            <div class="form-group">
                <label for="">name</label>
                <input type="text"
                 class="form-control  input-form">
            </div>
            <div class="form-group">
                <label for="">comment</label>
                <textarea
                placeholder="comment"
                 class="form-control " 
                 name="" id="" cols="30" rows="10"
                 ></textarea>
            </div>
            <button class="btn btn-info btn-sub">add comment</button>
        </form>
    </div>
</div>