<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">comments(10)</h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0">jjohn de</h6>
            <small class="text-danger ">data</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis maiores ipsum praesentium amet porro
                dolores distinctio incidunt necessitatibus, delectus quidem, fugiat voluptas asperiores facere adipisci
                neque error molestias perspiciatis voluptatibus.
            </div>
            <a href="" class="mt-1">replaye</a>
            <a href="" class="mt-1 m-sm-3 ">view</a>

            <hr>
        </div>

        <div class="comment-box mt-3">
            <h6 class="mb-0">jjohn de</h6>
            <small class="text-danger ">data</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis maiores ipsum praesentium amet porro
                dolores distinctio incidunt necessitatibus, delectus quidem, fugiat voluptas asperiores facere adipisci
                neque error molestias perspiciatis voluptatibus.
            </div>
            <a href="" class="mt-1">replaye</a>
            <a href="" class="mt-1 m-sm-3 ">view</a>

            <hr>
        </div>

        <div class="comment-box mt-3">
            <h6 class="mb-0">jjohn de</h6>
            <small class="text-danger ">data</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis maiores ipsum praesentium amet porro
                dolores distinctio incidunt necessitatibus, delectus quidem, fugiat voluptas asperiores facere adipisci
                neque error molestias perspiciatis voluptatibus.
            </div>
            <a href="" class="mt-1">replaye</a>
            <a href="" class="mt-1 m-sm-3 ">view</a>

            <hr>
        </div>
    </div>
</div>